server {
    server_name ubuntuserver.lab;
    root /var/www/nginx-facts-website/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/facts {
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
