# --- API Server Configuration ---
# The port the Express server will run on
API_PORT=5000

# --- MySQL Database Configuration ---
DB_HOST=localhost/your_mysql_server_ip
DB_USER=your_user_name
DB_PASSWORD=your_password_here
DB_NAME=your_database_name
DB_PORT=3306

# TIP: remove comments and unnecessary spaces in the real .env file
